$development: true;

:root {
    --z-initial: 1;
    --z-panels: 10;
    --z-menu: 100;
}

$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px
);

$pagare-logo: 'https://res.cloudinary.com/leonemil/image/upload/v1636129760/Pagare%20inteligente/Logo_pagar%C3%A9_wocvbz.png';
$librar: 'https://res.cloudinary.com/leonemil/image/upload/v1637350227/Pagare%20inteligente/Librar_el_otro_es_prestar_vv9xdw.png';
$prestar: 'https://res.cloudinary.com/leonemil/image/upload/v1637350227/Pagare%20inteligente/Librar_cete0d.png';
$librados: 'https://res.cloudinary.com/leonemil/image/upload/v1636129760/Pagare%20inteligente/Flecha_derecha_rdddmz.png';
$recibidos: 'https://res.cloudinary.com/leonemil/image/upload/v1637350128/Pagare%20inteligente/Flecha_abajo_z4nkbq.png';
$historial: 'https://res.cloudinary.com/leonemil/image/upload/v1636129759/Pagare%20inteligente/Comprobante_wzzpvb.png';
$conectar: 'https://res.cloudinary.com/leonemil/image/upload/v1637350227/Pagare%20inteligente/Conectar_cuentas_tmbvlo.png';
$naturaleza: 'https://res.cloudinary.com/leonemil/image/upload/v1637975804/Pagare%20inteligente/Pagare_verde_pei38s.png';

$cancelar: 'https://res.cloudinary.com/leonemil/image/upload/v1636129759/Pagare%20inteligente/Cancelar_ryfyq5.png';

$pagare: 'https://res.cloudinary.com/leonemil/image/upload/v1636132636/Pagare%20inteligente/Pagare_tlzgvd.png';
$bell: 'https://res.cloudinary.com/leonemil/image/upload/v1636132636/Pagare%20inteligente/Campana_hn7jhh.png';
$book: 'https://res.cloudinary.com/leonemil/image/upload/v1636132636/Pagare%20inteligente/Tarjeta_eul26t.png';
$arrow: 'https://res.cloudinary.com/leonemil/image/upload/v1636132636/Pagare%20inteligente/Flecha_yfhj2s.png';

$home: 'https://res.cloudinary.com/leonemil/image/upload/v1636153760/Pagare%20inteligente/casa-web_tuweak.png';
$card: 'https://res.cloudinary.com/leonemil/image/upload/v1636153760/Pagare%20inteligente/credit-card_yuc33v.png';
$ticket: 'https://res.cloudinary.com/leonemil/image/upload/v1636153760/Pagare%20inteligente/invoice_hkoksk.png';
$exchange: 'https://res.cloudinary.com/leonemil/image/upload/v1636153760/Pagare%20inteligente/exchange_pa7t9q.png';
$menu: 'https://res.cloudinary.com/leonemil/image/upload/v1636153912/Pagare%20inteligente/menu-button-of-three-horizontal-lines_rojjps.png';