
.main-menu {
    &::after {
        content: '';
        background-color: #ccc;
    }
}

.main-menu__list-item {
    margin-bottom: 1em;
}

.main-menu__list-icon {
    &::before {
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.home::before {
    background-image: url($home);
}

.card::before {
    background-image: url($card)
}

.ticket::before {
    background-image: url($ticket)
}

.exchange::before {
    background-image: url($exchange)
}

.menu::before {
    background-image: url($menu)
}


.user__close-sesion {
    background-color: transparent;
    color: red;
    border: none;
}

.initial-section__options-container {
    background-color: hsla(30, 100%, 50%, 0.1);

    &::after {
        content: '';
        background-color: orange;
    }
}

.initial-section__option {
    &::before {
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.initial-section__logo {
    background-image: url($pagare-logo);
    background-repeat: no-repeat;
    background-size: contain;
}

.initial-section__name,
.initial-section__option {
    color: orange;
}

.initial-section__enviado-item-icon {
    width: 20px;
    height: 20px;
    background-image: url($librados);
    background-size: contain;
    background-repeat: no-repeat;
}

.initial-section__recibido-item-icon {
    width: 20px;
    height: 20px;
    background-image: url($recibidos);
    background-size: contain;
    background-repeat: no-repeat;
}

.librar:before {
    background-image: url($librar);
}

.prestar::before {
    background-image: url($prestar);
}

.librados::before {
    background-image: url($librados);
}

.recibidos::before {
    background-image: url($recibidos);
}

.historial::before {
    background-image: url($historial);
}

.conectar::before {
    background-image: url($conectar);
}

.naturaleza::before {
    background-image: url($naturaleza);
}

.initial-section__movements-item-icon {
    background-image: url($recibidos);
    background-size: contain;
}

.pagare-header {
    background-color: hsla(30, 100%, 50%, 0.1);

    &::before {
        content: '';
        background-size: contain;
        background-repeat: none;
    }

    &::after {
        content: '';
        background-color: gray;
    }
}

.button {
    border-color: #ccc;
    color: orange;
    border-radius: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.button__librar-icon::before {
    background-image: url($librar);
}

.button__cancel-icon::before {
    background-image: url($cancelar);
}

.header__librar-pagare-icon::before {
    background-image: url($librar);
}

.header__librados-icon::before {
    background-image: url($librados);
}

.header__prestar-icon::before {
    background-image: url($prestar);
}

.header__recibidos-icon::before {
    background-image: url($recibidos);
}

.header__beneficiario-icon::before {
    background-image: url($prestar);
}

.header__conectar-icon::before {
    background-image: url($conectar);
}

.list-item {
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;

    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.naturaleza-image {
    background-image: url('https://res.cloudinary.com/leonemil/image/upload/v1638023727/Pagare%20inteligente/0294cd5a-f8a0-4424-bfd4-5ce8dcc839ef_y8n6cb.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 35vh;
    max-height: 50vh;
    width: 100vw;
}