
.register,
.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.form-register,
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user,
.librados,
.librar,
.pagares,
.recibidos,
.recibidos-datail,
.librar-pagare,
.pagare-recibido,
.concatenar-pagare,
.pagare-librado,
.librado-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.librar-pagare-form {
    display: flex;
    flex-direction: column;
}

.librar-pagare-form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 1em;
}

.librar-pagare-form__select {
    display: flex;
    flex-direction: column;
}

.librar-pagare-form__checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}

.librar-pagare-form__buttons {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.main-menu {
    position: relative;
    
    &::after {
        position: absolute;
        top: 10px;
        left: 0;
        height: 100vh;
        width: 1px;
        padding-top: 1em;
        padding-bottom: 1em;                                    
    }

    @media screen and (min-width: map-get($breakpoints, medium)){
        &::after {
            top: 0;
            right: 10px;
            height: 100vh;
            width: 1px;
        }
    }
}

//23 de noviembre

.main-menu__list {
    display: flex;
    padding-left: .5em;
     
    @media screen and (min-width: map-get($breakpoints, medium)){
        flex-direction: column;
    }
}

.main-menu__list-icon {
    &::before {
        padding-bottom: .1em;
        display: inline-block;
        width: 20px;
        height: 20px;
    }
}

.main-menu__list-item {
    padding: .5em;
}

.initial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-section__logo {
    width: 90px;
    height: 90px;
    margin: 1em;
}

.initial-section__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.user-container {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.user__close-sesion {
    width: fit-content;
}

.initial-section__options-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    padding: 1em;

    &::after {
        position: absolute;
        bottom: 0;
        left: 5vw;
        width: 90%;
        height: 3px;
    }
}

.initial-section__options {
    max-width: fit-content;
}

.initial-section__movements-item {
    display: flex;
    gap: 1em;
    width: 250px;
    justify-content: space-between;
}

.initial-section__movements-item-icon {
    width: 30px;
    height: 30px;
}

.initial-section__movements-item-data p {
    margin: 0;
}

.initial-section__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;

    &::before {
        display: inline-block;
        margin-right: .5em;
        width: 50px;
        height: 50px;
    }
}

.pagare-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100vw;
    padding: 1em;
    margin-bottom: 1em;

    &::before {
        width: 50px;
        height: 50px;
    }

    &::after {
        position: absolute;
        width: 90%;
        height: 3px;
        bottom: 0;
        left: 5vw;
    }
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: 120px;
    padding: 10px 15px 10px;

    &::before {
        width: 30px;
        height: 30px;
    }
}

.beneficiary-data p {
    margin: 0;
}