
.initial-section__name {
    font-size: 1.5em;
}

.button,
.initial-section__name,
.initial-section__option {
    text-transform: uppercase;
}

.initial-section__movements-item {
    font-weight: bold;
}